.container{
    height: 700px;
    border: 1px solid orange;
    border-radius: 10px;
    background-color:lightblue;
display: grid;
grid-gap: 10px;
/* grid-template-rows: 250px 600px; */
/* ~~~~~~~~~~~~~~~~~  below are used as grid auto rows ~~~~~ */
grid-auto-rows: minmax(100px, auto);
grid-template-columns: repeat(4,1fr);
/* grid-template-areas: 
"hd hd hd hd hd hd hd hd"
"side side side main main main main"
"ft ft ft ft ft ft ft ft"; */
}
.box{
    border-radius: 10px;
    border: 1px solid green;
    background: aqua;
}
/* #header{
    grid-area: hd;

}
#footer{
    grid-area: fit;
}
#sidebar{
    grid-area: side;
}
#content{
    grid-area: main;
} */